@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global CSS */

* {
    cursor:none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    text-decoration: none;
}

.hero-portrait {
    box-shadow: 0px 0px 10px #ffffff00;
    transition: box-shadow 500ms, scale 500ms;
    scale: 1.0;
}

.hero-portrait:hover {
    animation: animatedBoxShadow 1250ms linear infinite;
    scale: 1.1;
}

@keyframes animatedBoxShadow {
    0% {
        box-shadow: 0px 10px 10px #ffffff;
    }

    25% {
        box-shadow: 10px 0px 10px #ffffff;
    }

    50% {
        box-shadow: 0px -10px 10px #ffffff;
    }

    75% {
        box-shadow: -10px 0px 10px #ffffff;
    }

    100% {
        box-shadow: 0px 10px 10px #ffffff;
    }
}

.cursor {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: transparent;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    transition: width 200ms, height 200ms, border 200ms;
}


.cursor-hover {
    width: 50px;
    height: 50px;
    border: 5px solid white;
}

@media (pointer: coarse) {
    .cursor {
        display: none;
    }
  }
